In [1]:
#Tuples

countries=("Spain","Italy","France","England","Germany")
temp =list(countries)
temp.append("Russia")
temp.pop(3)
temp[2] = "Wales"
countries = tuple(temp)
print(countries)

('Spain', 'Italy', 'Wales', 'Germany', 'Russia')

In [5]:
fruits = ("apple","banana","cherry")
l = list(fruits)
m=l[1]
print(m)

print(fruits[1])

banana
banana

In [11]:
n = (1,2,3,4,5)
#print(n[-1])
print(n[0:3])

(1, 2, 3)

In [16]:
n = (1,2,3,4)
tem = list(n)
tem[1]= 20
n = tuple(tem)
print(n)

(1, 20, 3, 4)

In [ ]:
p=("Alice",25,"Doctor")
name, age, Profession = p
print("Name:","Alice")
print("Age:",25)
print("Profession:","Doctor")

Name: Alice
Age: 25
Profession: Doctor

In [2]:
n = (1,2,3,4,5,6)
a=1
b=2
rest=[3,4,5,6]
print("a=",a)
print("b=",b)
print("rest=",rest)

a= 1
b= 2
rest= [3, 4, 5, 6]

In [3]:
p=("Alice",(25,"Doctor"),"DC")
age , profession = p[1]
print("Age",age)
print("profession",profession)

Age 25
profession Doctor